/* General Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    animation: fade 1s;
}

@keyframes fade {
    from {opacity: 0;}
    to   {opacity: 1;}
}

:root {
    --bgColor: #00192f;
    --boxColor: #000117;
    --textColor: #00bbe3;
    --hoverColor: #a3d6ff;
}

body {
    background-color: var(--bgColor);
    font-family: "Roboto", sans-serif;
    color: var(--textColor);
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/* Header & Navigation */
header {
    background: var(--boxColor);
    padding: 0.25em 0;
    margin-bottom: 2em;
    animation: none;
}

.heading-flex-container {
    width: 95%;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    margin: auto;
    animation: none;
}

.heading-name {
    flex-shrink: 0;
    animation: none;
}

.heading-name h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.heading-name h1:hover {
    cursor: default;
}

.spin {
    display: inline-block;
    transition: transform .55s;
    transition-timing-function: linear;
}

h1:hover .spin, h1:focus .spin {
    transform: rotateY(360deg);
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 0.75em;
}

nav li {
    margin-left: 2em;
    flex-shrink: 0;
}

nav a {
    text-decoration: none;
    color: var(--textColor);
    padding: 0.15em;
    font-size: 1.35rem;
    font-weight: 400;
}

nav a:hover, nav a:focus {
    color: var(--hoverColor);
    text-shadow: 0 0 2px;
}

.current-page {
    border-bottom: 2px solid var(--textColor);
}

.current-page:hover, .current-page:focus {
    color: var(--textColor);
    text-shadow: none;
}


/* About Me Section */

.primary-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.about-col {
    width: 55%;
}

.about-section, .skills-section, .goals-section{
    width: 100%;
    background: var(--boxColor);
}

h2 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.about-section {
    margin-bottom: 3em;
    padding: 0.7em 1.35em;
}

.about-section-heading {
    margin-bottom: 0.65em;
}

.body-container {
    width: 100%;
}

.img-container {
    width: 24%;
    float: left;
    shape-outside: circle(50%);
    margin: 0em 1em 0.5em 0;
    min-width: 6rem;
    min-height: 6rem;
    max-width: 8rem;
    max-height: 8rem;
}

.stephen-image {
    max-width: 100%;
    height: auto;
}

.about-section-text {
    text-indent: 0.75em;
    line-height: 1.5em;
    text-align: left;
}

.about-section-text:first-of-type {
    text-indent: 0.25em;
}

strong a {
    text-decoration: none;
    color: var(--textColor);
}

strong a:hover, strong a:focus {
    color: var(--hoverColor);
    text-decoration: underline;
}

.skills-goals-col {
    width: 35%;
}

.skills-section {
    margin-bottom: 3em;
    padding: 1em 0;
}

.skills-section-heading {
    margin-bottom: 0.25em;
}

.skills-section-body {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.skills-col-1 {
    margin-right: 0.5em;
}

.skills-section-body h3 {
    font-size: 1.4rem;
    margin: 0.5em 0 1.25em;
}

.button-container {
    text-align: center;
}

#cv-button {
    padding: 0.5em;
    font-size: 1.15rem;
    background: transparent;
    color: var(--textColor);
    border: 2px solid var(--textColor);
    border-radius: 5px;
    animation-name: glow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

i:hover {
    color: var(--hoverColor);
}

#cv-button:hover, #cv-button:focus, .learn-more-container a:hover, .learn-more-container a:focus  {
    animation: none;
    color: var(--hoverColor);
    border-color: var(--hoverColor);
    cursor: pointer;
    box-shadow: 0 0 4px;
}

.goals-section {
    margin-bottom: 2em;
    padding: 0.7em 1em;
}

.goals-section-heading {
    margin-bottom: 0.4em;
}

.goals-section-text {
    text-indent: 0.85em;
    line-height: 1.5em;
    text-align: left;
}



/* PROJECTS PAGE STYLING */

.projects-container {
    width: 70%;
    margin: auto;
}

.proj {
    margin-bottom: 3em;
}

.proj-body-container {
    background: var(--boxColor);
    padding: 0.85em 1.2em;
    border-radius: 60px 0;
}

.proj-heading {
    margin-bottom: 0.35em;
}

.proj-text {
    text-align: left;
    text-indent: 1em;
    line-height: 1.75em;
}

.learn-more-container {
    text-align: center;
    justify-self: flex-end;
    margin: 1em 0;
}

.learn-more-container a {
    text-decoration: none;
    border: 2px solid var(--textColor);
    color: var(--textColor);
    border-radius: 5%;
    font-size: 1.15rem;
    padding: 0.5em;
    display: inline-block;
    animation-name: glow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}




/* CONTACT PAGE */
.contact-container {
    width: 65%;
    background-color: var(--boxColor);
    margin: 0 auto 3em;
    padding: 1em 0 3em;
}

.contact-heading {
    text-align: center;
    margin-bottom: 0.75em;
    font-size: 2.25rem;
}

.contact-content-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contact-card {
    background: var(--bgColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    padding: 0.75em 0.25em 2em;
}

.contact-card a {
    text-decoration: none;
}

.contact-logo {
    font-size: 3rem;
    margin-bottom: 0.25em;
    animation-name: icon-glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.contact-logo:hover, .contact-logo:focus {
    animation: none;
    color: var(--hoverColor);
    text-shadow: 0 0 3px var(--hoverColor);
}

.contact-card-heading {
    font-size: 1.25rem;
}

@keyframes icon-glow {
    from {color: var(--textColor); text-shadow: none;}
    to   {color: var(--hoverColor); text-shadow: 0 0 3px var(--hoverColor);}
}

@keyframes glow {
    from {color: var(--textColor); box-shadow: none;}
    to  {color: var(--hoverColor); box-shadow: 0 0 8px var(--hoverColor);}
}

@media (max-width: 400px) {
    .heading-flex-container h1 {
        font-size: 2rem;
    }
}

@media (max-width: 792px) {
    .heading-flex-container {
        flex-direction: column;
        align-items: center;
        width: 98%;
        padding: 1em 0.25em;
    }

    .heading-name {
        text-align: center;
    }
    
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0 0 1em 0;
        text-align: center;
    }

    .primary-container{
        width: 90%;
        flex-direction: column;
    }

    .about-col {
        width: 100%;
    }

    .skills-goals-col {
        width: 100%;
    }

    .projects-container {
        width: 90%;
    }

    .contact-container {
        width: 85%;
    }

    .contact-content-container {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .contact-card {
        width: 70%;
        margin-bottom: 3em;
    }
}



@media (min-width: 1650px) {
    .primary-container {
        width: 80%;
    }

    .about-section {
        padding: 2em 3em; 
    }

    .skills-section {
        padding: 1.25em 0;
    }

    .skills-section-heading {
        font-size: 1.95rem;
    }

    .goals-section {
        padding: 2em 3em;
    }

    .projects-container {
        width: 65%;
    }

    .proj-body-container {
        padding: 0.95em 2.25em;
    }

    .contact-container {
        margin-top: 5em;
        width: 55%;
    }
}
